@{ 
    Layout = null; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name ="viewport" content="width=device-width" />
    <title>BookStore</title>
</head>
<body>
    <h1>Welcome to Bookstore application</h1>
</body>
</html>